*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
    }
@font-face {
    font-family: Norse-Bold;
    src: url(/assets/Norse-Bold.otf);
    font-family: Norse;
    src: url(/assets/Norse.otf);
    font-family: CenturyExpanded;
    src: url(/assets/CenturyExpanded.otf);
  }
  
  h1 {
    font-family: Norse-Bold, 'Times New Roman', Times, serif;
    color: white;
  }
  .label{
      font-family: Norse, Arial, Helvetica, sans-serif;
      color: white;
  }
  p{
      font-family: CenturyExpanded, Arial, Helvetica, sans-serif;
      color: white;
  }
.main{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.right{
    height: 100%;
    width: 50%;
}
.logo{
    max-height: 10vh;
    margin: 15px;
}
.background{
    position:absolute;
}
.left{
    width: 50%;
}